<app-navbar></app-navbar>

<div class="container mt-5 bg-white">
  <div class="row mt-5">
    <div class="col-12 col-lg-6 my-4">
      <h1 class="text-center mb-3">Misión/Visión</h1>
      <div class="text-center">
        <p class="fs-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis architecto numquam dicta incidunt eligendi quos
          nesciunt rerum atque illum. Rem id perferendis odio architecto perspiciatis. Quaerat tempore delectus impedit
          autem.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos atque officia ullam. Ullam
          perspiciatis asperiores doloremque nemo minima.
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-6 my-4">
      <div class="d-flex justify-content-center align-items-center">
        <img [src]="image" alt="image" class="w-50 h-50">
      </div>
    </div>
  </div>
</div>
