<app-navbar></app-navbar>

<div class="container mt-4 mb-4 d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title mb-3">Registrar Libro</h3>
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ID">Author</label>
              <input class="form-control" type="text" formControlName="author">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Titulo</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="title">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="lastName">Edición</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="edition">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="user">Palabra clave</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="keyword">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="email">Tema</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="theme">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Copias</label>
              <div class="input-group">
                <input class="form-control" type="number" formControlName="copy">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Disponibles</label>
              <div class="input-group">
                <input class="form-control" type="number" formControlName="available">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Descripción</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="description">
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex justify-content-between">
          <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid" ngxLoading
            [loadingFlag]="loading" [textInitial]="'Agregar'" [textLoading]="'Cargando...'"></button>
          <button type="button" class="btn btn-dark btn-lg" (click)="cancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
