<app-navbar></app-navbar>
<div class="container mt-4 mb-4 d-flex justify-content-center">
  <div class="card-form">
    <div class="card-body">
      <h3 class="card-title mb-3">Registrar Revista</h3>
      <form [formGroup]="form" (submit)="onSubmit()" class="row">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="ID">Author</label>
              <input class="form-control" type="text" formControlName="author">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Titulo</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="title">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="lastName">Edición</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="edition">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="user">Palabra clave</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="keyword">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="email">Tema</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="theme">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Copias</label>
              <div class="input-group">
                <input class="form-control" type="number" formControlName="copy">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Disponibles</label>
              <div class="input-group">
                <input class="form-control" type="number" formControlName="available">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Descripción</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="description">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Frecuencia Actual</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="currentFrequency">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Ejemplares</label>
              <div class="input-group">
                <input class="form-control" type="number" formControlName="specimens">
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex justify-content-between">
          <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid" ngxLoading
            [loadingFlag]="loading" [textInitial]="'Agregar'" [textLoading]="'Cargando...'"></button>
          <button type="button" class="btn btn-dark btn-lg" (click)="cancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title mb-3">Registrar Revista</h3>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
