<!-- <div class="container w-25 rounded shadow-sm  mt-5"> -->
<div class="container  mt-4 mb-4 d-flex justify-content-center align-items-center">
  <div class="card mt-4">
    <div class="row">
      <div class="col bg-white p-5">
        <h3 class="fw-bold text-center py-4">Bienvenido</h3>
        <!-- Login -->
        <form [formGroup]="form" (submit)="onSubmit()">
          <div class="mb-4">
            <label for="email" class="form-label fw-bold">Usuario</label>
            <input type="text" formControlName="user" class="form-control">
          </div>
          <div class="mb-4">
            <label for="password" class="form-label fw-bold">Contraseña</label>
            <input type="password" formControlName="password" class="form-control">
          </div>
          <div class="mb-4 text-center">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-lg" ngxLoading
              [loadingFlag]="loading" [textInitial]="'Iniciar Sesión'" [textLoading]="'Cargando...'">
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
