<app-navbar></app-navbar>

<div class="container mt-4 mb-4 d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title mb-3">Registrar usuario</h3>
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ID">Carnet/CUI</label>
              <input class="form-control" type="text" formControlName="ID" [readOnly]="id">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Nombre</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="name">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="lastName">Apellido</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="lastName">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="user">Usuario</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="user">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group">
                <input class="form-control" type="email" formControlName="email">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Contraseña</label>
              <div class="input-group">
                <input class="form-control" type="text" formControlName="password">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Rol</label>
              <div class="input-group">
                <select class="form-select" aria-label="Default select example" formControlName="role">
                  <option [value]="role.value" *ngFor="let role of listRoles">{{role.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex justify-content-between">
          <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid" ngxLoading
            [loadingFlag]="loading" [textInitial]="'Agregar'" [textLoading]="'Cargando...'">
          </button>
          <button type="button" class="btn btn-dark btn-lg" (click)="cancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
